/* Seletor Universal - Remove margens e preenchimentos padrão */
* {
margin: 0; /* Remove margens padrão */
padding: 0; /* Remove preenchimento padrão */
box-sizing: border-box; /* Inclui a borda e o preenchimento no cálculo do tamanho */
font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}